<div class="row">
  <div class="col-xs-12">
    <img
      src="{{ recipe.imagePath }}"
      alt=""
      class="img-responsive"
      style="width: 300px"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>{{ recipe.name }}</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropDown>
      <button class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a style="cursor: pointer" (click)="sendToShoppingList(); (false)"
            >To Shopping List</a
          >
        </li>
        <li>
          <a style="cursor: pointer" routerLink="edit">Edit Recipe</a>
        </li>
        <li>
          <a style="cursor: pointer" (click)="onDeleteRecipe()"
            >Delete Recipe</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
  <div class="col-xs-12">
    <ul class="list-group" *ngFor="let ingredient of recipe.ingredients">
      <li class="list-group-item">
        {{ ingredient.name }} ( {{ ingredient.amount }} )
      </li>
    </ul>
  </div>
</div>
